*{
	margin:0;
	padding:0;
}

body{
	text-align:center;
}

.imgbio{
	width:150px;
	height:150px;
	display:inline;
	float:left;
	padding-right:5px;
}

.biografia:first-letter{
	color:red;
}

.biografia{
	color:blue;
	font-style:italic;
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align:left;
}

div#container{
	width:80%;
	margin:0 auto;
	border:3px gray solid;
}

div#header{
	background-color:orange;
	padding:0.7em 0 0.7em 0.5em;
	text-align:center;
}

div#navigation{
	text-align:left;
	background-color:gray;
	padding:0.7em 0 0.7em 0.5em;

}

div#navigation ul{
	list-style-type:none;
}

div#navigation li{
	display:inline;
	padding-left:1.5em;
}

div#navigation a{
	color:white;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:900;
	text-decoration:none;
	cursor:default;
}

div#navigation a:hover{
	color:black;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:600;
	text-decoration:none;
}

div#navigation a#active{
	color:black;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:900;
	text-decoration:underline;
}


div#colsx{
	width:14em;
	float:left;
}


div#colsx ul{
	list-style-type:none;
}

div#colsx li{
	padding-top:1.5em;
}

div#colsx a{
	color:gray;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:900;
	text-decoration:none;
	cursor:default;
}

div#colsx a:hover{
	color:black;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:900;
	text-decoration:none;
}

div#colsx a#active{
	color:black;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:900;
	text-decoration:underline;
}


div#coldx{
	margin-left:14em;
}

.icone{
	width:100px;
	height:100px;
}

div#footer{
	background-color:orange;
	padding:0.7em 0 0.7em 0.5em;
	clear:left;

}